<div>
  <div>
    <button #button>Toggle button</button>
  </div>

  <div>
    <p><label>Input 1</label><input #input1 [appNextTab]="input2" /></p>
    <p><label>Input 2</label><input #input2 [appNextTab]="input3" /></p>
    <p><label>Input 3</label><input #input3 [appNextTab]="input4" /></p>
    <p><label>Input 4</label><input #input4 [appNextTab]="input5" /></p>
    <p><label>Input 5</label><input #input5 [appNextTab]="input6" /></p>
    <p><label>Input 6</label><input #input6 [appNextTab]="input7" /></p>
    <p><label>Input 7</label><input #input7 [appNextTab]="input8" /></p>
    <p><label>Input 8</label><input #input8 [appNextTab]="input9" /></p>
    <p><label>Input 9</label><input #input9 [appNextTab]="input10" /></p>
    <p><label>Input 10</label><input #input10 [appNextTab]="input11" /></p>
    <p><label>Input 11</label><input #input11 [appNextTab]="input12" /></p>
    <p><label>Input 12</label><input #input12 [appNextTab]="input13" /></p>
    <p><label>Input 13</label><input #input13 [appNextTab]="input14" /></p>
    <p><label>Input 14</label><input #input14 [appNextTab]="input15" /></p>
    <p><label>Input 15</label><input #input15 [appNextTab]="input16" /></p>
    <p><label>Input 16</label><input #input16 [appNextTab]="input17" /></p>
    <p><label>Input 17</label><input #input17 [appNextTab]="input18" /></p>
    <p><label>Input 18</label><input #input18 [appNextTab]="input19" /></p>
    <p><label>Input 19</label><input #input19 [appNextTab]="input20" /></p>
    <p><label>Input 20</label><input #input20 [appNextTab]="input21" /></p>
    <p><label>Input 21</label><input #input21 [appNextTab]="input22" /></p>
    <p><label>Input 22</label><input #input22 [appNextTab]="input23" /></p>
    <p><label>Input 23</label><input #input23 [appNextTab]="input24" /></p>
    <p><label>Input 24</label><input #input24 [appNextTab]="input25" /></p>
    <p><label>Input 25</label><input #input25 [appNextTab]="input26" /></p>
    <p><label>Input 26</label><input #input26 [appNextTab]="input27" /></p>
    <p><label>Input 27</label><input #input27 [appNextTab]="input28" /></p>
    <p><label>Input 28</label><input #input28 [appNextTab]="input29" /></p>
    <p><label>Input 29</label><input #input29 [appNextTab]="button" /></p>
  </div>
</div>
